:root {
    --white: #FFFFFF;
    --grey-800: #EEEEEE;
    --grey-700: #666666;
    --grey-600: #A9A9A9;
    --grey-500: #E5E5E5;
    --grey-400: #BDBBBC;
    --grey-300: #F2F2F2;
    --grey-200: #CACACA;
    --grey-100: #EBEBEB;
    --black: #000000;
    --black-opacity-3: rgba(0, 0, 0, 0.3);
    --blue-700: #5496BD;
    --blue-500: #669EC0;
    --blue-400: #81B3D2;
    --brown-700: #333333;
    --brown-500: #231F20;
    --brown-400: #503E33;
    --brown-300: #604E43;
    --brown-100: #766357;
}

img {
    max-width: 100%;
    height: auto;
}

.page-body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--grey-800);
}

.container {
    background-color: var(--white);
    width: 1200px;
    margin: 0 auto;
}

.main-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.features__title {
    line-height: 26px;
    font-weight: 700;
    color: var(--brown-700);
    text-align: center;
}

.features__list {
    color: var(--brown-700);
    list-style: none;
    text-align: center;
}

.main-navigation__link {
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}

.main-navigation__link:hover {
    color: var(--blue-400);
}

.main-navigation__link:active {
    color: var(--black-opacity-3);
}

.main-navigation__list {
    list-style: none;
}

.features__header {
    font-size: 21px;
    font-weight: 700;
}

.features__item_white {
    color: var(--white);
    background-color: var(--blue-400);
}

.features__photos {
    background-color: var(--brown-100);
}

.search-form {
    text-align: center;
}

.search-form__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--brown-100);
}

.search-form__caption {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.search-form__info {
    line-height: 24px;
    color: var(--brown-700);
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-socials {
    text-align: center;
}

.footer-socials__button {
    list-style: none;
}

.footer-socials__link {
    text-decoration: none;
}

.contacts__phone {
    color: var(--black);
    text-decoration: none;
}

.footer-copyright__link {
    color: var(--black);
    text-decoration: none;
}

.main-navigation__link_current {
    color: var(--brown-100);
}

.results {
    font-size: 12px;
    line-height: 18px;
}

.results__quantity {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.results__list {
    list-style: none;
}

.results__link {
    color: var(--black-opacity-3);
    border-bottom: 1px dashed var(--blue-400);
    text-decoration: none;
}

.results__link_current {
    color: var(--blue-400);
    text-decoration: none;
    border: none;
}

.results__link:hover {
    color: var(--blue-400);
}

.results__link:active {
    color: var(--black);
}

.hotels__link {
    color: var(--black);
    text-decoration: none;
}

.hotels__link:hover {
    color: var(--blue-400);
}

.hotels__link:active {
    color: var(--black-opacity-3);
}

.hotels__list {
    list-style: none;
}

.hotels__name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotels__button {
    text-align: center;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    padding: 4px 13px;
}

.hotels__button_details {
    background-color: var(--blue-400);
}

.hotels__button_details:hover {
    background-color: var(--blue-500);
}

.hotels__button_details:active {
    background-color: var(--blue-700);
}

.hotels__button_book {
    background-color: var(--brown-100);
}

.hotels__button_book:hover {
    background-color: var(--brown-300);
}

.hotels__button_book:active {
    background-color: var(--brown-400);
}

.hotels__rating {
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: var(--grey-300);
    padding: 4px 13px;
}
