:root {
    --black-700: #000000;
    --white-700: #EEEEEE;
    --white-500: #FFFFFF;
    --blue-700: #5496BD;
    --blue-500: #669EC0;
    --blue-400: #81B3D2;
    --brown-700: #333333;
    --brown-500: #231F20;
    --brown-400: #503E33;
    --brown-300: #604E43;
    --brown-100: #766357;
    --grey-700: #666666;
    --grey-600: #A9A9A9;
    --grey-500: #E5E5E5;
    --grey-400: #BDBBBC;
    --grey-300: #F2F2F2;
    --grey-200: #CACACA;
    --grey-100: #EBEBEB;
}

img {
    max-width: 100%;
    height: auto;
}

.page-body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--white-700);
}

.container {
    background-color: var(--white-500);
}

.main-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.features__title {
    line-height: 26px;
    font-weight: 700;
    color: var(--brown-700);
    text-align: center;
}

.features__list {
    color: var(--brown-700);
    list-style: none;
    text-align: center;
}

.features__recomend-list {
    list-style: none;
}

.main-navigation__link {
    line-height: 26px;
    font-weight: 700;
    color: var(--black-700);
    text-decoration: none;
}

.main-navigation a:hover {
    color: var(--blue-400);
}

.main-navigation a:focus {
    color: var(--grey-400);
}

.main-navigation__list {
    list-style: none;
}

.features__header {
    font-size: 21px;
    font-weight: 700;
}

.features__item_white {
    color: var(--white-500);
    background-color: var(--blue-400);
}

.features__photos {
    background-color: var(--brown-100);
}

.search-form {
    text-align: center;
}

.search-form__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white-500);
    background-color: var(--brown-100);
}

.search-form__caption {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.search-form__info {
    line-height: 24px;
    color: var(--brown-700);
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-socials {
    text-align: center;
}

.footer-socials__button {
    list-style: none;
}

.footer-socials__link {
    text-decoration: none;
}

.contacts__phone {
    color: var(--black-700);
    text-decoration: none;
}

.footer-copyright__link {
    color: var(--black-700);
    text-decoration: none;
}
